.rectangle-24 {	
    height: 25px;	
    width: 100%;	
    background-color: #808080;
    text-align: center;
}
.necesitas-ayuda-91 {
	height: 10px;
	width: 287px;
	color: #FFFFFF;
	font-family: "Brandon Grotesque";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

.shape {	
    height: 16px;	
    width: 18px;
}
.envio-gratis-a-parti {	
    /*height: 18px;	
    width: 136px;*/	
    color: #FFFFFF;	
    font-family: "Brandon Grotesque";	
    font-size: 12px;	
    font-weight: 500;	
    line-height: 18px;
}
.dias-plazo-devo {
	height: 30px;
	width: 287px;
	color: #FFFFFF;
	font-family: "Brandon Grotesque";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: right;
}
.fill-1 {	
    height: 18.88px;	
    width: 20.27px;
}
.menu {	
    font-size: 8px;
    height: 4.56px;
    width: 17.84px;
}
.fill-7 {
	height: 22.08px;
	width: 95.43px;
}
.fill-7-2 {
    margin-bottom: 15px;
    height: 30.53px;
    width: 134.3px;
}
.btnMenu{
    border: 0px;
}
#navbarDropdown{
    color: black;
}
.busca {	
    height: 35px;	
    width: 312px;	
    border: 1px solid #EBE7E4;	
    background-color: #FBFAF9;
    padding: 10px;
}
.busca2 {	
    height: 35px;	
    width: 312px;	
    border: 1px solid #EBE7E4;	
    background-color: #FBFAF9;
    padding: 10px;
    font-weight: bold;

}
.rectangle {	
    width: 40px;	
    background-color: #5CB8A3;
}
.btnSearch {	
    height: 35px;	
    width: 35px;	
    background-color: #5CB8A3;
}
.btnSearch2 {		
    width: 42px;	
    background-color: #5CB8A3;
    border: none;
}
.rectangle-18 {
	height: 25px;
	width: 100%;
	background-color: #EE988B;
}

.promociones-de-invi {
	height: 16px;
	width: 100%;
	color: #FFFFFF;
	font-family: "Brandon Grotesque";
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}
.promo{
    font-weight: bold;
}
.image-fondo{
    background-image: url("../img/Montaje_productos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100% ;
    text-align: center;
}
.rebajas-70 {	
    padding-top: 20px;
    height: 52px;	
    width: 100%;	
    color: #4A4A4A;	
    font-family: "Brandon Grotesque";	
    font-size: 36px;	
    font-weight: bold;	
    line-height: 52px;	
    text-align: center;
}
.hasta-50-en-product {	
    height: 20px;	
    width: 100%;	
    color: #4A4A4A;	
    font-family: "Brandon Grotesque";	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 20px;	
    text-align: center;
}
.rectangle-7 {
	height: 37px;
	width: 129.9px;
	border-radius: 6px;
	background-color: #5CB8A3;
    box-shadow: 0 2px 0 0 #529888;
    border: none;
}
.compra-ya {
	height: 20px;
	width: 89.25px;
	color: #FFFFFF;
	font-family: "Brandon Grotesque";
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
    text-align: center;
}
.cuenta-invi-dos{
    display: none;
}
.rojo{
    color: rgb(243, 134, 119);

}
.navVisible{
    display: inline;
}
.navInvi{
    display: none;
}
.buscaVisible{
    padding: 10px;
    display:inline;
}
.imgVisible{
    display: inline;
}
.imgInvi{
    display: none;
}

.buscaInvi{
    display: none;
}
.logo-izquierda{
    float: left;
    border: 5px solid red;
}
.espacioBusca{
    margin-top: 15px;
}
.rectangle-13 {
	height: 50px;
	width: 115px;
	border: 1px solid #F2F2F2;
	border-radius: 6px;
}
.mask {
	height: 100px;
	width: 320px;
	border-radius: 6px;
	background-color: #F5F5F5;
}
.bannerCentrado{
    width: 100%;
    background-color: white;
    margin-top:2%;
    text-align: center;
}
.bannerCentrado2{
    width: 50%;
    background-color: white;
    margin-top:2%;
    text-align: center;
}
.bannerArriba{
    margin-bottom: 2%;
}
.banVisible{
    display: inline;
}
.banInvi{
    display: none;
    margin-top: 2%;
}
.busca::placeholder {
    font-weight: bold;
    font-size: 0.9em;
}

@media(max-width: 730px){
    .necesitas-ayuda-91{
        display: none;
    }
    .dias-plazo-devo {
        display: none;
    }
    
}
@media(max-width:990px){
    .cuenta-invi{
        display: none;
    }
    .cuenta-invi-dos{
        display:inline-block;
    }
    .navVisible{
        display: none;
    }
    .navInvi{
        display: inline;
    }
    .buscaVisible{
        padding: 10px;
        display:none;
    }
    .buscaInvi{
        display: inline;
    }
    .imgVisible{
        display: none;
    }
    .imgInvi{
        display: inline;
    }
    .banVisible{
        display: none;
    }
    .banInvi{
        display: inline;
    }
    
    
}
@media(min-width:991px){
    .promociones-de-invi{
        font-size: 1.2em;
    }
    .promocion-negrita{
        font-weight: bold;
    }
    .bannerCentrado{
        width: 100%;
        background-color: white;
        margin-top:2%;
        text-align: center;
    }
    .bannerCentrado2{
        width: 50%;
    }
    .banVisible{
        display: inline-block;
    }
    .banInvi{
        display: none;
    }
    .mask {
        width: 700px;

    }
    .rebajas-70{
        font-size: 3.5em;
    }
    .hasta-50-en-product{
        font-size: 1.2em;
    }
    
    
}
@media(min-width:1140){
    .bannerCentrado2{
        width: 50%;
    }
}